{% extends 'base.html' %}



{% block content %}
<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-6">
                <h1 class="title has-text-centered">About</h1>
                <br>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi corporis ratione eveniet voluptatibus. Ea reiciendis, quo voluptates nihil perspiciatis nesciunt veniam qui corporis recusandae modi assumenda ipsam quia nemo odit saepe dolorem eveniet numquam est necessitatibus excepturi voluptatibus pariatur rem. Itaque voluptates blanditiis numquam facere repellendus suscipit esse pariatur nemo, ut voluptatem quis quidem eligendi perspiciatis voluptate quod quasi quia natus error eum distinctio veritatis? Expedita distinctio enim fugiat quo.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock content %}